{% load static %}
<!DOCTYPE html>
<html>
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <link rel="stylesheet" type="text/css" href="{% static 'VAC/main.css' %}">
  
  <title>HOME</title>
</head>

<body>
<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
      <a class="navbar-brand mr-4" href="{% url 'VAC-home' %}">Employee Vacation</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="{% url 'VAC-home' %}">Home</a>
        </div>
        <!-- Navbar Right Side -->
        <div class="navbar-nav">
       {% if user.is_authenticated %}
        <a class="nav-item nav-link" href="{% url 'post-create' %}">New Vacation</a>
        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
          {% else %}
        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
          {% endif %}
    </div>
      </div>
    </div>
  </nav>
</header>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8">
      <h1> Welcome Home! </h1>
    {% if messages %}
    {% for message in messages %} 
      <div class="alert alert-{{ message.tags }}"> {{ message }} </div>
    {% endfor %}
    {% endif %}
  {% for vacation in vacations %}
  <article class="media content-section">
    <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ vacation.description }}</a>
      <small class="text-muted">{{ vacation.date_from }} to {{ vacation.date_to }}
      & {{ vacation.time_from }} to {{ vacation.time_to }}</small>
    </div>
    <h3><a class="article-title" href="#">{{ vacation.description }}</a></h3>
    <p class="article-content">{{ vacation.duration_of_the_whole_trip }}</p>
    </div>
  </article>
  {% endfor %}

  {% if is_paginated %}

    {% if page_obj.has_previous %}
      <a class = "btn btn-outline-info mb-4" href="?page=1">First</a>
      <a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class = "btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

  {% endif %}

    </div>
    <div class="col-md-4">
      <div class="content-section">
        <h3>Coming Soon!!</h3>
        <p class='text-muted'>You can add any information like,
          <ul class="list-group">
            <li class="list-group-item list-group-item-light">Latest Posts</li>
            <li class="list-group-item list-group-item-light">Announcements</li>
            <li class="list-group-item list-group-item-light">Calendars</li>
            <li class="list-group-item list-group-item-light">etc...</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</main>
  
  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</body>
</html>